@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white px-8 py-4 rounded-lg hover:bg-blue-700 transition font-semibold;
  }
}