/*Hero Section*/
.hero-section{
  background-image: url("../images/fries image.jpg");
  height:650px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  margin: 0;
}
.hero-section > h1{
  font-size: 1.5rem;
  background-color: #11122b;
  padding: 1rem;
  border-radius: 5px;
  width: 150px;
}
.hero-section > h1 > .light{
  font-family: "Asimovian", sans-serif;
  font-weight: 600;
  color: white;
}
.hero-section > h1 > .foods{
  font-family: "Edu NSW ACT Cursive", cursive;
  font-style: normal;
  text-decoration: underline;
  color: #cbcbcb;
}
.hero-section > h3{
  background-color: #cea135;
  color: #11122b;
  width: 170px;
  border-radius: 5px;
  padding: 1rem;
}

/*Features Section*/
.features-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/fries images.jpeg");
  background-size: coer;
  background-repeat: repeat;
  background-color: #cea135;
  height: 400px;
  box-shadow: 0 -10px 15px 3px rgba(0,0,0,0.5) inset;
  border-top: 5px solid #fff;
}
.features-section > .columns-div{
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-section > .columns-div > .column{
  width: 200px;
  text-align: center;
  border-bottom: 5px solid transparent;
  border-radius: 5px;
  transition: 1s;
  font-family: "Roboto Condensed", sans-serif;
  padding: 2px;
}
.features-section > .columns-div > .column:hover{
  border-bottom: 5px solid black;
}
.features-section > .columns-div > .column > p:first-of-type{
  font-weight: 700;
  letter-spacing: 1px;
}
.features-section > .columns-div > .column > p:last-of-type{
  letter-spacing: 1.2px;
}